ul{
    padding:0px;
}

/* Aligns all the elements with the class of row to the center */
.row {
    text-align: center;
}


/* Hides the div containing question until quiz start is pressed. */
.display-timer {
    text-align: center;
}

/* hides these elements until unhidden by javascript */
.display-timer, .display-question {
    /* display: none; */
}

